{
  "parser": "@typescript-eslint/parser",
  "globals": {
    "BigInt": true
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": ["standard"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error"
  }
}
